services:
  api-gateway:
    image: kong:3.9
    container_name: api-gateway
    ports:
      - "80:8000"
    volumes:
      - ./deployments/api-gateway/kong.yaml:/usr/local/kong/declarative/kong.yaml:ro
    env_file:
      - ./deployments/api-gateway/.env
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 2s
      timeout: 3s
      retries: 10
      start_period: 3s
    restart: always

  mongodb:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      # This is not recommended for real projects, use secrets or environment variables instead
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - ./mongo_data:/data/db
      - ./deployments/mongodb/authentication-service/init:/mongodb-init/auth
      - ./deployments/mongodb/customer-service/init:/mongodb-init/customer
      - ./deployments/mongodb/entrypoint.sh:/usr/local/bin/custom-entrypoint.sh
    entrypoint: [ "bash", "/usr/local/bin/custom-entrypoint.sh" ]
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 2s
      timeout: 3s
      retries: 10
      start_period: 3s

  authentication-service:
    build:
      context: .
      dockerfile: ./services/authentication-service/Dockerfile
    container_name: authentication-service
    depends_on:
      mongodb:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    env_file:
      - ./deployments/mongodb/.env
    restart: always

  customer-service:
    build:
      context: .
      dockerfile: ./services/customer-service/Dockerfile
    container_name: customer-service
    depends_on:
      mongodb:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    env_file:
      - ./deployments/mongodb/.env
    restart: always

  restaurant-service:
    build:
      context: .
      dockerfile: ./services/restaurant-service/Dockerfile
    container_name: restaurant-service
    depends_on:
      mongodb:
        condition: service_healthy
      api-gateway:
        condition: service_healthy
    env_file:
      - ./deployments/mongodb/.env
    restart: always

volumes:
  mongo_data: