name: Food Delivery Platform CI

on:
  pull_request:
    paths:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GO_VERSION: '1.25'

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      run_e2e: ${{ steps.filter.outputs.run_e2e }}
      openapi_specs_changed: ${{ steps.filter.outputs.openapi_specs_changed }}
      auth_service_internal: ${{ steps.filter.outputs.auth_service_internal }}
      auth_service_docs: ${{ steps.filter.outputs.auth_service_docs }}
      customer_service_internal: ${{ steps.filter.outputs.customer_service_internal }}
      customer_service_docs: ${{ steps.filter.outputs.customer_service_docs }}
      restaurant_service_internal: ${{ steps.filter.outputs.restaurant_service_internal }}
      restaurant_service_docs: ${{ steps.filter.outputs.restaurant_service_docs }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            run_e2e:
              - 'docker-compose.yml'
              - 'clients/**'
              - 'deployments/**'
              - 'e2e/**'
              - 'pkg/**'
              - 'scripts/**'
              - 'services/*/cmd/**'
              - 'services/*/internal/**'
              - 'services/*/Dockerfile'
              - 'services/*/go.mod'
              - 'services/*/go.sum'
              - 'services/*/Makefile'
              - '.github/workflows/**
            openapi_specs_changed:
              - 'services/*/docs/dist/openapi.yaml'
              - 'services/*/client-gen-config.yaml'
              - 'scripts/validate-service-clients.sh'
              - '.github/workflows/**
            auth_service_internal:
              - 'services/authentication-service/internal/**'
              - 'services/authentication-service/go.mod'
              - 'services/authentication-service/go.sum'
              - 'pkg/**'
              - '.github/workflows/**
            auth_service_docs:
              - 'services/authentication-service/docs/**'
            customer_service_internal:
              - 'services/customer-service/internal/**'
              - 'services/customer-service/go.mod'
              - 'services/customer-service/go.sum'
              - 'pkg/**'
              - '.github/workflows/**
            customer_service_docs:
              - 'services/customer-service/docs/**'
              - '.github/workflows/**
            restaurant_service_internal:
              - 'services/restaurant-service/internal/**'
              - 'services/restaurant-service/go.mod'
              - 'services/restaurant-service/go.sum'
              - 'pkg/**'
              - '.github/workflows/**
            restaurant_service_docs:
              - 'services/restaurant-service/docs/**'
              - '.github/workflows/**
  validate-service-clients:
    needs: changes
    if: ${{ needs.changes.outputs.openapi_specs_changed == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install OpenAPI Generator
        run: npm install -g @openapitools/openapi-generator-cli

      - name: Make script executable
        run: chmod +x ./scripts/validate-service-clients.sh

      - name: Validate clients
        run: ./scripts/validate-service-clients.sh

  service-ci:
    needs: changes
    strategy:
      fail-fast: false
      matrix:
        include:
          - service: authentication-service
            run_unit: ${{ needs.changes.outputs.auth_service_internal == 'true' }}
            run_integration: ${{ needs.changes.outputs.auth_service_internal == 'true' }}
            run_docs: ${{ needs.changes.outputs.auth_service_docs == 'true' }}
          - service: customer-service
            run_unit: ${{ needs.changes.outputs.customer_service_internal == 'true' }}
            run_integration: ${{ needs.changes.outputs.customer_service_internal == 'true' }}
            run_docs: ${{ needs.changes.outputs.customer_service_docs == 'true' }}
          - service: restaurant-service
            run_unit: ${{ needs.changes.outputs.restaurant_service_internal == 'true' }}
            run_integration: ${{ needs.changes.outputs.restaurant_service_internal == 'true' }}
            run_docs: ${{ needs.changes.outputs.restaurant_service_docs == 'true' }}
    uses: service-ci.yml
    with:
      service: ${{ matrix.service }}
      run_unit: ${{ matrix.run_unit }}
      run_integration: ${{ matrix.run_integration }}
      run_docs: ${{ matrix.run_docs }}

  e2e-tests:
    needs: changes
    if: ${{ needs.changes.outputs.run_e2e == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: e2e
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run E2E Tests
        id: run-e2e-tests
        run: make run-e2e-tests
      - name: Docker logs
        if: ${{ failure() && steps.run-e2e-tests.conclusion == 'failure' }}
        run: |
          echo "=== API Gateway Logs ===\n" && docker logs api-gateway
          echo "\n=== Auth Service Logs ===\n" && docker logs authentication-service
          echo "\n=== Customer Service Logs ===\n" && docker logs customer-service
